* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CLASSES  */
/* ID */
/* TAG */
/* 
body{
    background-color: red;
} */

.cssday1 {
  color: red;
  font-size: 40px;
  text-align: center;
  margin: 50px 0 0 0;
  /* margin-top: 60px;

    mar */
}

.nsf {
  color: indianred;
  font-size: 40px;
  text-align: center;
  margin: 50px auto;

  background-color: greenyellow;

  padding: 30px;

  width: 50%;
  text-align: center;
}

.box {
  background-color: bisque;
}

body {
  background-color: skyblue;
}
